<% content_for :title do %>SUSE Expert Day Dashboard<% end %>
<div class="gridster">
  <ul>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="greeting" data-view="Text" data-title="Hello" data-text="SUSE Expert Day Demo"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div
        data-id="bar-chart-product"
        data-view="Chartjs"
        data-height="400"
        data-width="400"
      ></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div
        data-id="bar-chart-customer"
        data-view="Chartjs"
        data-height="400"
        data-width="400"
      ></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div
        data-id="pie-chart-pay"
        data-view="Chartjs"
        data-height="400"
        data-width="400"
      ></div>
    </li>

    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="achieved" data-view="Meter" data-title="Today's Sales Target" data-height="200" data-width="200" data-min="0" data-max="100" data-suffix="%"></div>
    </li>

    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="visitors" data-view="Number" data-title="Visitors"></div>
    </li>

    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="revenue" data-view="Number" data-title="Revenue" data-prefix="$"></div>
    </li>

    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="convergence" data-view="Graph" data-title="Delivery" style="background-color:#ff9618"></div>
    </li>
  </ul>
</div>
