<form (ngSubmit)="onSubmit()" #orderForm="ngForm">
  <div class="container bg-1">
    <h2 class="header">SUSE Expert Day 2019</h2>
  </div>
  <div class="container bg-2">

    <h3>Choose Your Favorite</h3>

    <div class="row grid grid-pad">
      <div *ngFor = "let product of products"
        class="product col-xs-4 col-ms-4 col-md-4"
        [class.selected]=" product === selectedProduct "
      >
        <div>{{ product.name }}</div>
        <a (click)="setProduct(product)">
          <img src="{{ product.image }}" class="img-responsive img-circle" alt="{{ product.name }}" />
        </a>
        <div class="price">${{ product.price }}</div>
      </div>
    </div>

  </div>
  <div class="container bg-3">
    <h3>Payment method</h3>

    <div class="row grid grid-pad">
      <div *ngFor = "let paymethod of paymethods"
        class="paymethod col-xs-4 col-ms-4 col-md-4"
        [class.selected]=" paymethod === selectedPaymethod "
      >
        <a (click)="setPaymethod(paymethod)">
          <span class="glyphicon glyphicon-{{ paymethod.image }}" aria-hidden="true"></span>
          <div>{{ paymethod.name }}</div>
        </a>
      </div>
    </div>

  </div>
  <div class="container bg-4">
    <div class="center"><button type="submit" class="btn">Order Now</button> </div>
  </div>
</form>
