  <div class="container-fluid bg-1">  
    <h2 class="header">Dashboard</h2>
  </div>
  <div class="container-fluid bg-2">
    <div class="row grid grid-pad">
      <div class="col-md-6">
        <div *ngFor = "let product of products" 
          class="product col-md-4"          
        >
          <div>{{ product.name }}</div>
          
            <img src="{{ product.image }}" class="img-responsive img-circle" alt="{{ product.name }}" />
          
          <div class="desc">Sales #: {{ 43 }}</div>
          <div class="desc">Sales Total: $ {{ 4300 }}</div>
        </div>
      </div>
      <div class="col-md-6">
        <div *ngFor = "let paymethod of paymethods" 
          class="paymethod col-md-4"
        >
            <div>{{ paymethod.name }}</div>
            <span class="glyphicon glyphicon-{{ paymethod.image }}" aria-hidden="true"></span>
            <div class="desc">Paid # : {{ 28 }}</div>
            <div class="desc">Paid Total : $ {{ 2800 }}</div>
         
        </div> 
      </div>
    </div>
  </div>